[submodule "pitools"]
	path = pitools
	url = https://github.com/raspberrypi/tools
[submodule "ros_catkin_ws/src/orocos_kinematics_dynamics"]
	path = ros_catkin_ws/src/orocos_kinematics_dynamics
	url = https://github.com/orocos/orocos_kinematics_dynamics.git
[submodule "ros_catkin_ws/src/cmake_modules"]
	path = ros_catkin_ws/src/cmake_modules
	url = https://github.com/ros/cmake_modules.git
[submodule "ros_catkin_ws/src/angles"]
	path = ros_catkin_ws/src/angles
	url = https://github.com/ros/angles.git
[submodule "ros_catkin_ws/src/actionlib"]
	path = ros_catkin_ws/src/actionlib
	url = https://github.com/ros/actionlib.git
[submodule "ros_catkin_ws/src/geometry"]
	path = ros_catkin_ws/src/geometry
	url = https://github.com/ros/geometry.git
[submodule "ros_catkin_ws/src/geometry2"]
	path = ros_catkin_ws/src/geometry2
	url = https://github.com/ros/geometry2.git
[submodule "ros_catkin_ws/src/vision_opencv"]
	path = ros_catkin_ws/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "ros_catkin_ws/src/opencv"]
	path = ros_catkin_ws/src/opencv
	url = https://github.com/opencv/opencv.git
[submodule "ros_catkin_ws/src/rviz"]
	path = ros_catkin_ws/src/rviz
	url = https://github.com/ros-visualization/rviz.git
[submodule "ros_catkin_ws/src/image_common"]
	path = ros_catkin_ws/src/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "ros_catkin_ws/src/pluginlib"]
	path = ros_catkin_ws/src/pluginlib
	url = https://github.com/ros/pluginlib.git
[submodule "ros_catkin_ws/src/class_loader"]
	path = ros_catkin_ws/src/class_loader
	url = https://github.com/ros/class_loader.git
[submodule "ros_catkin_ws/src/interactive_markers"]
	path = ros_catkin_ws/src/interactive_markers
	url = https://github.com/ros-visualization/interactive_markers.git
[submodule "ros_catkin_ws/src/laser_geometry"]
	path = ros_catkin_ws/src/laser_geometry
	url = https://github.com/ros-perception/laser_geometry.git
[submodule "ros_catkin_ws/src/navigation_msgs"]
	path = ros_catkin_ws/src/navigation_msgs
	url = https://github.com/ros-planning/navigation_msgs.git
[submodule "ros_catkin_ws/src/python_qt_binding"]
	path = ros_catkin_ws/src/python_qt_binding
	url = https://github.com/ros-visualization/python_qt_binding.git
[submodule "ros_catkin_ws/src/robot_model"]
	path = ros_catkin_ws/src/robot_model
	url = https://github.com/ros/robot_model.git
[submodule "ros_catkin_ws/src/rosconsole_bridge"]
	path = ros_catkin_ws/src/rosconsole_bridge
	url = https://github.com/ros/rosconsole_bridge.git
[submodule "ros_catkin_ws/src/geographic_info"]
	path = ros_catkin_ws/src/geographic_info
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "ros_catkin_ws/src/unique_identifier"]
	path = ros_catkin_ws/src/unique_identifier
	url = https://github.com/ros-geographic-info/unique_identifier.git
