[submodule "pitools"]
	path = pitools
	url = https://github.com/raspberrypi/tools
[submodule "ros_catkin_ws/src/orocos_kinematics_dynamics"]
	path = ros_catkin_ws/src/orocos_kinematics_dynamics
	url = https://github.com/orocos/orocos_kinematics_dynamics.git
[submodule "ros_catkin_ws/src/cmake_modules"]
	path = ros_catkin_ws/src/cmake_modules
	url = https://github.com/ros/cmake_modules.git
[submodule "ros_catkin_ws/src/angles"]
	path = ros_catkin_ws/src/angles
	url = https://github.com/ros/angles.git
[submodule "ros_catkin_ws/src/actionlib"]
	path = ros_catkin_ws/src/actionlib
	url = https://github.com/ros/actionlib.git
[submodule "ros_catkin_ws/src/geometry"]
	path = ros_catkin_ws/src/geometry
	url = https://github.com/ros/geometry.git
[submodule "ros_catkin_ws/src/geometry2"]
	path = ros_catkin_ws/src/geometry2
	url = https://github.com/ros/geometry2.git
[submodule "ros_catkin_ws/src/vision_opencv"]
	path = ros_catkin_ws/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "ros_catkin_ws/src/opencv"]
	path = ros_catkin_ws/src/opencv
	url = https://github.com/opencv/opencv.git
[submodule "ros_catkin_ws/src/rviz"]
	path = ros_catkin_ws/src/rviz
	url = https://github.com/ros-visualization/rviz.git
